body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #4a51cf;
  padding: 10px;
  margin-bottom: 10px;
}

.hat-info {
  flex: 3;
}

.hat-name {
  font-weight: Black;
}

.hat-detail {
  display: block;
  margin-top: 5px;
}

.hat-button {
  margin-left: 15px;
}
